# Настройка БД
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=

# Настройки Django
SECRET_KEY=ns%z)u1+f*%exo2j0s^r+k%5rf&ggeol&sisu+_ymdtpkjx2p7
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# Ссылка
FOODGRAM_LINK=http://foodgram-test.ru/
